@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.custom-navbar {
  /* Lienas encargadas del degradado */
  background: linear-gradient(to right, #000000 0%, #150036 40%, #1c004a 100%) !important;
  width: 100%;
  padding-right: 1.5rem;;
}

/* Forzar que las columnas de nebula ocupen todo el ancho */
.custom-navbar .container.columns {
  display: flex !important;
  width: 100%;
  max-width: 100% !important;   /* Esta linea salvo la pagina, estaba mal el header y con esto se centro bien*/
}

/* Seccion del logo a continuacion */

.logo-seccion {
  flex-shrink: 0; /* El shrink hace que el logo no se achique */
  margin-left: 40px;
}

.logo-texto {
  color: #ffffff !important;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.andlogo{
  width: 80px;
  border-radius: 500px;
}

.menu-seccion {
  display: flex !important;           
  justify-content: center !important; 
  align-items: center !important;     
  flex-grow: 1; /* Esto hace que ocupe todo el espacio entre los links */
  gap: 30px;    /* esto es para el espacio horizontal */
}

.nav-link {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3s ease;
  white-space: nowrap; /* esto evita que lo largo se separe en 2 lineas */
}

/* Body comienza aqui abajo*/

/* Contenedor, video y texto*/
.contenedor{
  display: flex;
  align-items: flex-start;  
  min-height: 800px;
  gap: 40px;  /* Espacio video y texto */
  padding-top: 60px;
}

.video-box{
  background-image: url(/images/video_aniversario.webp);
  background-size: cover;
  background-position: center;
  width: 60%;           
  height: 700px;         
  margin-left: 40px;    
  border-radius: 90px;   
}

.texto-box{
  flex: 1;
  padding-right: 40px;
  padding-top: 0; /* ajustá si querés un pequeño espacio */
}


